* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    min-height: 100%;
    min-width: 100%;
    background: url("http://68.media.tumblr.com/2469a3bffe4c8c97f9a34768db55a1eb/tumblr_noy6woQBtr1qze3hdo1_r2_500.gif") no-repeat center center fixed;
    background-size: cover;
    image-rendering: pixelated;
    transition: background 1s;
}

.weather-widget {
    text-align: center;
    padding: 3em;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 100px 60px rgba(0, 0, 0, 0.4);
    border-radius: 2em;
}

h1, h2, h3 {
    padding: 15px;
    color: rgba(255, 255, 255, 0.85);;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

h1 {
    font-family: 'Cookie', cursive;
    font-size: 4em;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 2em;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    display: inline-block;
}

.switch {
    position: relative;
    display: inline-block;
    /*box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 0.6em;
    background-color: rgba(0, 0, 0, 0.2);*/
}

.switch span {
    font-family: 'Raleway', sans-serif;
    font-size: 0.7em;
    padding: 2px;
    margin: 0;
    width: 7em;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: inline-block;
    transition: 0.2s;
}

.switch span.selected {
    color: rgba(0, 0, 0, 0.7);
}

.switch input {
    display: none;
}

#slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 0.6em;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.4s;
}

#slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 50%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: white;
    transition: 0.4s;
    border-radius: 0.6em;
    z-index: -10;
}

input:checked + #slider:before {
    left: 50%;
}